.vscode
/pointers_arrays_strings/*-main.c
/more_malloc_free/malloc_free/*-main.c
/more_malloc_free/*-main.c
/structures_typedef/*-main.c
/functon_pointers/*-main.c
/variadic_functions/*-main.c


# Compiled C files
*.c~
*.h~
*.so
*.a
*.lib
*.bin
*.exe

# Compiled object files
*.o
*.ko
*.obj
*.elf

